@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* Headings */
    --heading-1: 9.375rem;
    --heading-2: 6.25rem;
    --heading-3: 3.5rem;
    --heading-4: 2rem;
    --heading-5: 1.75rem;

    --sub-heading-1: 1.75rem;
    --sub-heading-2: 0.875rem;

    --body: 1.125rem;
    --body-line-height: 2rem;

    --nav-text: 1rem;

    /* Letter Spacing */
    --header-letter-spacing: 0.29531rem;
    --sub-header-letter-spacing: 0.14763rem;
    --nav-letter-spacing: 0.16875rem;

    /* Color System */
    --dark-blue: #0B0D17;
    --blue: #383B4B;
    --light-blue: #D0D6F9;
    --white: #FFFFFF;
    

  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Glass effect for drawer and tablet menu */
.drawer, .wide-screen-menu {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
}


/* backgrounds  */
/* Mobile view  */
.homepage{
  background: url("../public/assets/home/background-home-mobile.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.destination{
  background: url("../public/assets/destination/background-destination-mobile.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.crew {
  background: url('../public/assets/crew/background-crew-mobile.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

/* Tablet view  */
@media (min-width: 48rem) {
  .homepage{
    background: url("../public/assets/home/background-home-tablet.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .destination{
    background: url("../public/assets/destination/background-destination-tablet.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .crew {
    background: url('../public/assets/crew/background-crew-tablet.jpg') no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/* Desktop view  */
@media (min-width: 90rem) {
  .homepage{
    background: url("../public/assets/home/background-home-desktop.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .destination{
    background: url("../public/assets/destination/background-destination-desktop.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .crew {
    background: url('../public/assets/crew/background-crew-desktop.jpg') no-repeat;
    background-position: center;
    background-size: cover;
  }
}
