
/************************ Homepage ************************/
/* 

  media query for background responsiveness 
  when a certain "VIEW HEIGHT" is reach

*/

/* 
  
  with a max-height of 713px and max-width of 767px in mobile view
  contents tend to overflow in y-axis thus making the background cut from
  overflowing contents. 

*/
@media (max-height: 44.5625rem) and (max-width: 47.9375rem) {
 
  .homepage{

    /* 
      once the viewport is meet then fix the container to a static height of 713px
      allowing the background size adjust accordingly and make it look intact when
      viewing with smaller devices.

    */
    width: 100% !important;
    height: 44.5625rem !important;
  }
}
  
  /* Same concept with mobile but for tablet view */
  @media (max-height: 64rem) and ((min-width: 48rem) and (max-width: 89.9375rem)) {
    .homepage {
      width: 100% !important;
      height: 64rem !important;
    }
  }
  
  
  /* 
  
    for desktop view with max-height of 899px and min-width of 769px
    prevent the responsive behaviour of flexbox and make in place 
    the contents of the homepage when viewed in smaller devices
  
  */
  @media (max-height: 56.1875rem) and (min-width: 48.0625rem) {
    .homepage {
      width: 100% !important;
      height: 56.1875rem !important;
    }
  }
  /* 
  
    media query for background responsiveness 
    when a certain "VIEW HEIGHT" is reach
  
  */
  
  /* IPhone 5/SE homepage paragraph fix */
  @media (min-width: 18.75rem) and (max-width: 23.375rem){
    .home-body-content{
      width: 17.5rem;
    }
  }

/************************ Homepage ************************/




/************************ Destination, Crew ************************/
/*

    at max-width of 767px and max-height of 850px
    preventing background cut on smaller screen heights

*/

/* Destination page background fix for mobile view */
@media (max-width: 47.9375rem) and (max-height: 53.125rem){
    .destination{
        width: 100% !important;
        height: 53.125rem !important;
    }
}



/*

    at max-width of 767px and max-height of 710px
    preventing background cut on smaller screen heights

*/

/* Crew and Technology page backgroundfix for mobile view */
@media (max-width: 47.9375rem) and (max-height: 44.375rem){
    .crew, .technology{
        width: 100% !important;
        height: 44.375rem !important;
    }
}

/* Crew page backgroundfix for desktop view */
@media (max-height: 56.25rem) and (width: 90rem){
  .crew-main-content{
    overflow-y: hidden;
  }
}

@media (min-height: 67.5rem) and (min-width: 120rem){
  .crew-main-content{
    overflow-y: hidden;
  }
}






/* fix for tablet view */
/* max-width of 1439px and max-height of 1024px */
@media ((min-width: 48rem) and (max-width: 89.9375rem)) and (max-height: 64rem){
    .destination, .crew, .technology {
        width: 100% !important;
        height: 64rem !important;
        
    }
    
}

/* fix for desktop view */
/* min-width of 1440px and max-height of 900px */
@media (min-width: 90rem) and (max-height: 56.25rem){
    .destination, .crew, .technology {
        width: 100% !important;
        height: 56.25rem !important;
       
    }
}

/************************ Destination, Crew ************************/